@import "/src/styles/variables";

.container {
  @include page();
}

.newArrival {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include title-bg(map-get($fourth-color, main), 32px);
  @include font(12px, map-get($secondary-color, main));

  height: 52px;

  margin: 8px 0;
  transition: 600ms;

  &:hover {
    @include title-bg(map-get($primary-color, main), 52px);
    display: flex;
    align-items: center;

    height: 240px;
    border-radius: 16px;

    background-size: cover;
    background-position: center;

    cursor: pointer;
    transition: 300ms;
  }
}

.newArrival:first-child {
  height: 120px;
  &:hover {
    @include title-bg(map-get($primary-color, main), 52px);
    display: flex;
    align-items: center;

    height: 240px;
    border-radius: 16px;

    background-size: cover;
    background-position: center;

    cursor: pointer;
    transition: 500ms;
  }
}
