@import "/src/styles/variables";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.shortInputContainer {
  display: flex;
  justify-content: space-between;
}

.formTitle {
  @include text(light);
  @include card($dark-card, 32px, inherit);
  margin-top: 16px;
}

.formSubtitle {
  @include text(light);
}
