$secondary-color: (
  "main": #b2b2b2,
  "light": #d9d9d9,
  "dark": #6a6a6a,
);

$primary-color: (
  "main": #121420,
  "light": #24283f,
  "dark": #06060a,
);

$third-color: (
  "main": #2c2b3c,
  "light": #4b4965,
  "dark": #100f15,
);

$extra: (
  "main": red,
  "hover": #3e5c76,
  "error": rgb(214, 154, 154),
);

$font: "Jura", sans-serif;

$dark-link: (
  "color": map-get($extra, hover),
  "hover-color": map-get($secondary-color, light),
);

$light-link: (
  "color": map-get($secondary-color, light),
  "hover-color": map-get($extra, hover),
);

$fonts: (
  "extra-light": map-get($secondary-color, light),
  "light": map-get($secondary-color, main),
  "med-light": map-get($secondary-color, dark),
  "dark": map-get($primary-color, dark),
  "error": map-get($extra, error),
);

$light-card: (
  "bg-color": map-get($secondary-color, light),
  "shadow": 0 2px 2px 0 map-get($secondary-color, main),
);

$gray-card: (
  "bg-color": map-get($secondary-color, main),
  "shadow": 0 2px 2px 0 map-get($secondary-color, dark),
);

$dark-card: (
  "bg-color": map-get($primary-color, main),
  "shadow": 0 2px 2px 0 map-get($secondary-color, dark),
);

@mixin card($variant, $height, $width) {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: $height;
  line-height: $height;
  width: $width;

  background-color: map-get($variant, bg-color);
  box-shadow: map-get($variant, shadow);
}

@mixin text($variant) {
  font-family: $font;
  font-weight: 600;
  text-align: center;

  color: map-get($fonts, $variant);
  font-size: 12px;
}

@mixin link($variant) {
  all: unset;
  cursor: pointer;

  font-family: $font;
  font-size: 12px;
  font-weight: 600;
  color: map-get($variant, color);

  transition: 100ms;

  &:hover {
    color: map-get($variant, hover-color);
    transition: 100ms;
  }
  &:active {
    color: map-get($variant, hover-color);
  }
}

@mixin page {
  width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a,
li {
  all: unset;
}
