@import "/src/styles/variables";

.headerContainer {
  @include text(extra-light);
  @include card($dark-card, 48px, inherit);

  justify-content: space-between;
  flex-direction: row;
}

.logoContainer {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  @include link($light-link);
}

.brandName {
  width: 70%;
  text-align: center;
}

.actions {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
