@import "/src/styles/variables";

.navbarContainer {
  @include card($dark-card, 32px, inherit);

  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  padding-left: 24px;
}

.navbarContainer li {
  @include link($light-link);
}

.navbarContainer a {
  display: block;
}
