@import "/src/styles/variables";

.page {
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
