@import "/src/styles/variables";

.container {
  @include page;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.links a {
  @include link($primary-link);
  flex-direction: column;
}
