@import "/src/styles/variables";

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links a {
  @include link($dark-link);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0;
}
