@import "/src/styles/variables";

.container {
  @include page();
  justify-content: space-evenly;
  align-items: stretch;
}

.body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.productImg {
  width: 320px;
  height: 420px;
  border-radius: 15px;
}
