@import "/src/styles/variables";

.headerContainer {
  @include font(12px, map-get($secondary-color, light));
  @include title-bg(map-get($primary-color, main), 42px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
}

.link {
  @include link($secondary-link);
}

.brandName {
  text-align: center;
}
