.imgContainer {
  display: flex;
}

.secondaryImgContainer {
  display: flex;
  flex-direction: column;
}

.productImg {
  width: 320px;
  height: 420px;
  border-radius: 15px;
  margin: 2px;
}

.secondaryImg {
  width: 160px;
  height: 210px;
  border-radius: 15px;
  margin: 2px;
}
