@import "/src/styles/variables";

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 240px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 160px;
}

Button {
  padding-top: 20px;
}

.error {
  @include error();
}
