@import "/src/styles/variables";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 160px;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 12px;
}

.formTitle {
  @include text(light);
  @include card($dark-card, 32px, inherit);
  // margin-top: 16px;
}

.formSubtitle {
  @include text(light);
}

.link {
  @include link($dark-link);
}

.error {
  @include text(error);
  padding-top: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 160px;
}
