@import "src/styles/variables";

.formContainer {
  @include card($light-card, inherit, 240px);
  justify-content: space-around;
  height: 180px;
  box-shadow: none;
}

.radioContainer {
  width: 240px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.radio {
  width: 120px;
}

.error {
  @include text(error);
  width: 120px;
}

.text {
  @include text(dark);
}
