@import "/src/styles/variables";

.titleContainer {
  @include text(dark);
  @include card($light-card, 32px, inherit);

  flex-direction: row;
  justify-content: space-around;
}

.subtitle {
  font-weight: 600;
  font-size: 12px;
}

.newArrival {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background-image: url(../../img/with-logo-1.jpg);
  background-size: cover;
  background-position: -90%;
}

.newArrival .titleContainer {
  @include card($dark-card, 52px, inherit);
}
