@import "/src/styles/variables";

legend {
  @include text(light);
}

.container {
  width: 120px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.itemContainer {
  width: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.input {
  visibility: hidden;
  position: absolute;
}

.input:checked ~ .label {
  color: #000;
  box-shadow: 2px 2px 4px 0px #b2b2b2 inset;
  transform: translateY(2px);
  filter: brightness(0.8);
}

.input:checked ~ .color {
  color: #000;
  filter: brightness(1.3);
  border: 2px solid #ffffff;
}

.input:disabled ~ .label {
  background-color: rgb(101, 101, 101);
  text-decoration: line-through;
  box-shadow: none;
  border: none;
  cursor: not-allowed;
}

.input:disabled ~ .color {
  background-color: unset;
  background-color: rgb(101, 101, 101);
  text-decoration: line-through;
  box-shadow: none;
  border: none;
  cursor: not-allowed;
}
