@import "/src/styles/variables";

.container {
  height: 320px;
  width: 520px;
  background-color: rgb(238, 238, 238);
  // background-color: map-get($secondary-color, main);
  @include text(dark);
  border-radius: 15px;
  margin: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 2px 2px 0 map-get($secondary-color, dark);
}

.row {
  width: 500px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid map-get($secondary-color, light);
}
