@import "/src/styles/variables";

.container {
  height: 200px;
  width: 520px;

  background-color: map-get($secondary-color, light);
  @include font(12px, map-get($primary-color, main));
  border-radius: 15px;
  margin: 40px;
}

.row {
  width: inherit;
  height: 40px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
